<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <pluginGroups>
        <pluginGroup>org.mortbay.jetty</pluginGroup>
    </pluginGroups>
    <proxies>
        <!--proxy>
            <id>blah</id>
            <active>false</active>
            <protocol>http</protocol>
            <host>stmproxy.glb.clics.com</host>
            <port>80</port>
            <nonProxyHosts>localhost|3.24.140.18|3.55.123.220|*.clics.com</nonProxyHosts>
        </proxy>-->
        
        <!--<proxy>
            <id>blah</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>cinproxy.glb.comfin.clics.com</host>
            <port>80</port>
            <nonProxyHosts>localhost|3.24.140.18|3.55.123.220|*.clics.com|3.*</nonProxyHosts>
        </proxy>-->
	<proxy>
	      <id>blah</id>
	      <active>true</active>
	      <protocol>http</protocol>
	      <host>cinext11.proxy.clics.com</host>
	      <port>80</port>
	      <nonProxyHosts>localhost|3.24.140.18|3.55.123.220|*.ge.com</nonProxyHosts>
	</proxy>	

    </proxies>
    <servers>
        <server>
            <id>artifactory-internal</id>
            <username>deployer</username>
            <password>deployer</password>
        </server>
        <server>
            <id>snapshots_artifactory</id>
            <username>geartifactdeployer</username>
            <password>geartifactdeployer</password>
        </server>
        <server>
            <id>releases_artifactory</id>
            <username>geartifactdeployer</username>
            <password>geartifactdeployer</password>
        </server>
        <server>
            <id>cmfciohpdlcshz2.comfin.ge.com</id>
            <username>geartifactdeployer</username>
            <password>geartifactdeployer</password>
        </server>
        <server>
            <id>myserver</id>
            <username>manager</username>
            <password>admin</password>
        </server>
        <server>
            <id>devserver</id>
            <username>eapoc</username>
            <password>Ge123bsl</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.jdbc.url>jdbc:mysql://GIS03515.devcloud.ge.com:3306/sonar?useUnicode=true&amp;characterEncoding=utf8&amp;rewriteBatchedStatements=true</sonar.jdbc.url>
                <sonar.jdbc.driver>com.mysql.jdbc.Driver</sonar.jdbc.driver>
                <sonar.jdbc.username>sonar</sonar.jdbc.username>
                <sonar.jdbc.password>sonar</sonar.jdbc.password>
                <sonar.host.url>http://gis03515.devcloud.ge.com:9000/</sonar.host.url>
            </properties>
            <!--properties>
                <sonar.jdbc.url>jdbc:oracle:thin:@(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = cmfalgadtdb03.comfin.ge.com)(PORT = 1525)))(CONNECT_DATA = (SID = ge_teas1)(SERVER = DEDICATED)))</sonar.jdbc.url>
                <sonar.jdbc.driver>oracle.jdbc.driver.OracleDriver</sonar.jdbc.driver>
                <sonar.jdbc.username>sonar_user</sonar.jdbc.username>
                <sonar.jdbc.password>sonar369</sonar.jdbc.password>
                <sonar.host.url>http://gis00509.devcloud.ge.com:9000/</sonar.host.url>
            </properties>-->
        </profile>
        <!--profile>
            <id>Sonargraph</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <pluginRepositories>
                <pluginRepository>
                    <id>hello2morrow.maven.repository</id>
                    <url>http://maven.hello2morrow.com/repository</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>-->
    </profiles>
</settings>
